

.title{
    font-weight: bold;

    color :blueviolet;
}


#myData{
    display:block;
    /* justify-content: center;  */
    /* align-items: center; */
    /* border-radius: 15px; */
    /* border-color: green; */
    /* border-style: solid; */
    /* align-items: center;  */
    /* background-color:lightskyblue; */

}

.level1 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    align-items: center;
    background-color: #B0E0E6;
  }
  .level2 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    align-items: center;
    background-color:lightskyblue	;
  }
  .level3 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    align-items: center;
    background-color: #B0C4DE;
  }
  .level4 {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border-color: green;
    border-style: solid;
    align-items: center;
    background-color: #FF7F50	;
  }
  

  /*
  #B0E0E6	
   lightskyblue 
  ,#B0C4DE
  ,coral*/
